
part2/server/\.DS_Store

part2/\.DS_Store
*.pyc

part2/server/matches_microservice/app/migrations/

part2/server/user_microservice/app/migrations/

part2/server/user_microservice/app/__pycache__/

part2/server/matches_microservice/app/__pycache__/

part2/server/betting_microservice/app/__pycache__/
